.App {
  text-align: center;
  height: 100%;
  width: 100%;
}
.Header {
  color: #443e3e;
  /* text-shadow: 1px 1px 5px #fff; */
  font-family: 'Russo One', sans-serif;
  font-size: 3rem;

}
/* write your parent styles in here for your App.js */


.cardContainer {
  /* border: 1px solid black; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

}



